# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Jupyter Notebook
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Virtual environments
.env
.venv
env/
venv/

# Operating System Files
.DS_Store
Thumbs.db
